#banniere {
    height: 200px;
    width: 100%;
    margin: 0 0 0 0 px;	
    background-image: url('images/banniere.jpg');
    background-repeat: repeat-x;
}

/*body {
    margin: 0 0 0 0px;
}*/

header {
    text-align: center;
    color: white;
    padding: 50px;
}

#snow {
    height: 200px;
    width: 100%;
   /* margin: 0 0 0 0px;*/
    background-image: url('images/snow3.jpg');
    background-repeat: repeat-x;
    margin-top: 10%;
   /* position: absolute;
    bottom: 0; */
   
}

